*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
}

/* varibales  */

:root{
    --margin-beside : 0 100px;
}

.main_container{
    margin: var(--margin-beside);

}

.section_container{
    margin: 100px 0;
}

/* universal code  */

.button{
    padding: 20px 30px;
    background-color: #06C167;
    color: #FFFFFF;
    font-size: 1em;
    }

.button:hover{
    cursor: pointer;
    box-shadow: 0 0 2px green;
    transition: 500ms;
}
/* end universal code  */

header{
    width: 100%;
    height: auto;
    background-color: #FFFFFF; /* rgba(255, 255, 255, 1) */
    
}


nav{
    width: 100%;
    height: auto;
    background-color: #F3FCF7; /* rgba(243, 252, 247, 1) */
}

.nav_container{
    margin: var(--margin-beside);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.nav_logo{
    font-weight: 500;
    font-size:2em;

}

.nav_logo, .nav_menu{
    flex-basis: 50%;
}

.nav_logo > h1 {
    cursor: pointer;
    color: #06C167; /* 
    rgba(6, 193, 103, 1) */
}

.nav_menu {

}

.nav_menu ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 60px;
}

.nav_menu ul > li > a{
    position: relative;
    text-decoration: none;
    line-height: 40px;
    color: #1D1D1F; /* rgba(29, 29, 31, 1) */
    font-weight: 400;
}
.nav_menu ul > li > a:hover{
    color: #06C167;
    text-shadow: 0 0 50px;
    transition: 500ms;
}

.nav_menu ul > li:first-child > a{
    color: #06C167;
}


.dot{
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #06C167;
    left:20px;
    bottom: -8px;

}


/* banner code start  */
.banner{
    width: 100%;
    height: auto;
}
.banner_top{
    /* background-color: aqua; */
      
    background-color: #F3FCF7; /* rgba(243, 252, 247, 1) */;
}
.banner_top_container {
    display: flex; 
    margin: var(--margin-beside);
    padding: 30px 0 30px 0;
    position: relative;

}

.banner_description, .banner_image{
    flex-basis: 50%;
    align-items: center;
}

.banner_description > *{
    margin: 40px 0;
}
.banner_description > h2{
    font-size: 4.5em;
    font-weight: 600;
    
}

.banner_description > button > i {
    padding-left: 15px;
    
}

.banner_image{
    position: relative;
}
.banner_image_container{
    position: absolute;
    left: 60px;
}

.banner_image_container > img{
    width: 34vw;
    height: auto;
}

.banner_bottom{
    width: auto;
    height: 150px;
    margin: var(--margin-beside);
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.brands_logo, .brand_style{
    flex-basis: 50%;
}

.brands_logo > ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.brands_logo > ul > li {
    display: flex;
   
}

.brands_logo > ul > li > div:last-child{
    margin: 8px 0 0 5px;
    font-weight: 500;
    color:rgba(57, 65, 73, .7);
    ;
}

.brands_style{
    z-index: 1;
}

.brands_style img{
    width: 150px;
    height: auto;
}

/* banner code end  */

/* services section  */
.services{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

}

.service_card{
    display: flex;
    align-items: center;  
    /* background-color: #1D1D1F; */
}

.service_logo{
    /* flex: 1; */
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(240, 241, 236, .6);
    margin-right: 25px;

} 

.service_description > *{
    line-height: 25px;
    font-weight: 400;
    font-size: 1em;
}
.service_description p{
    color: rgba(29, 29, 31, .7);
    font-weight: 500;
    font-size: .9em;
}

.service_section > .hr{
    
    /* background-color: red; */
    /* border: 1px solid rgba(112, 112, 112, .3); */
    height: 1.5px;
    background-color: rgba(112, 112, 112, .3);

}

/* end service section   */

/* benifit and stars  */
.benifit{
    display: flex;
    /* justify-content:first baseline; */
    justify-content: center;
}

.benifit_poster, .benifit_content{
    flex-basis: 50%;
}

.benifit_poster{
    background: rgba(243, 250, 251, 1);
    ;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;

}

.benifit_content > *{
    margin: 30px 0;
}
.benifit_content{
    padding: 0 0 0 80px ;
}
.benifit_content h2{

}

.benifit_content h3{
    font-size: 3.5em;
    font-weight: 500;

}

.benifit_content ul{
    padding-left: 20px;
    /* list-style-image: url('./images/icon/check.png'); */
    list-style-image: url("../images/icon/check.svg");
    margin-top: 60px;

}

.benifit_content > ul > li{
    font-size: 1.5em;
    line-height: 50px;
    font-weight: 400;
}

/* end benifit and stars */

